

#formContainer{
    display: flex;
    width: 100vw;
    height: 100vh;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}


#form{
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    padding: 20px;
    width: 350px;
    min-width: 300px;
    min-height: 400px;

    background-color: white;
    border-radius: 10px;
}

.modalHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: #153244;
}

.editarUser{
    background-color: #DEDDD8;
}

.editarUser i{
    float: right;
}

.inputUsuario{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(173, 173, 173, 0.44);

    font-weight: 600;

    width: 100%;
    height: auto;
    color: #153244;
}

.botonCrearUsuario{

    padding: 10px;
    border: none;
    background-color: #153244;
    border-radius: 5px;
    color: white;
    font-weight: 450;
    font-size: .8rem;
}

.botonCrearUsuario:hover{
    scale: 103%;
}

#formContainer img{
    width: 55%;
    min-width: 400px;
}

.advertenciaUsuarioExistente{
    color: #fe2525;
    font-weight: 500;
    font-size: .85rem;
    margin-top: 5px;
    margin-left: 5px;
}

.labelUsuario{
    margin-top: 30px;
    color: #153244;
    font-size: .85rem;
    font-weight: 500;
    margin-left: 5px;
}