

#bodyContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 0;
    position: relative;
}

#boardContainer{
    height: 100vh;
}

#bodyContainer:not(#menu){
    background-color: #eae9e9;
}

#modalContainer{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: rgba(51, 51, 51, 0.58);
    width: 100vw;
    height: 100vh;
}

#advertenciaContainer{
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    border-radius: 10px;
    border: 1px solid rgba(197, 195, 195, 0.78);

    background-color: #f4f4f4;
    text-align: center;
}

#ContainerBotonesDelModal{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.botonModal{
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    background-color: rgba(197, 195, 195, 0.78);
    font-weight: 600;
}
.aceptar{
    background-color:  #7f1bbf;
    color: whitesmoke;

}
.cancelar{
    background-color: rgba(197, 195, 195, 0.78);
}