*{
    box-sizing: border-box;
}

#menuContainer{
    height: 100vh;
    width: 300px;
    background-color: #8b86e3;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    border-top: 1px solid rgba(0, 0, 0, 0.44);
    padding: 5px;
}

#adminPanel{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#adminPanel img{

    width: 40px;

}