footer{
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    background-color: #686ddc;
}

#footerContainer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}