*{
    margin: 0;
    padding: 0;
}

:root{
    --gris : #DEDDD8;
}


#pageHeader{
    padding: 10px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#loguearse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#logoCiudadContainer{
    display: flex;
    align-items: center;
    padding: 5px;
}

#logoCiudadContainer img{
    border-radius: 10px;
    width: 150px;
}