*{
    margin: 0;
    padding: 0;
}


#pageHeader{
    padding: 10px;
    position: relative;
    background: linear-gradient(90deg,#390e8c, #7f1bbf);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#loguearse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#logoCiudadContainer{

}

#logoCiudadContainer img{
    border-radius: 10px;
    width: 100px;
}