@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Archivo', sans-serif;
}


:root{
    --gris : #DEDDD8;
}

#bodyContainer{

    display: flex;
    flex-direction: column;
    padding: 60px;

    text-align: center;
    background-color: #F3F6F9;
}


.contenedorBlanco{
    width: 60vw;
    padding: 30px;
    border-radius: 30px;
    border: none;
    margin: auto;
    background-color:#FFFFFF;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.contenedorBlanco:not(:first-of-type){
margin-top: 60px;
}

.derecho{
    box-shadow:  -10px 10px #38485C;

}

.izquierdo{
    box-shadow:  10px 10px #38485C;
}

.tituloInfo{
    color: #153244;
}

.subtituloInfo{
    font-weight: 600;
    font-size: 1.1em;
}

.textoBold{
    font-weight: 600;
}

#bodyContainer p{
    width: 70%;
}

#bodyContainer ul{
    margin-left: 20px;
}

#bodyContainer ol{
    margin-left: 20px;
    width: 90%;
}

ol li{
    margin-bottom: 40px;
}

p a {
    color: #7f1bbf;
    font-weight: 600;
}

.centrarTexto{
    text-align: center;
    margin: auto;
}

#botonRegistro{
    padding:10px 40px;
    border: none;

    border-radius:6px;

    background-color: #8DE2D6;
    font-weight: bold;
    color: #153244;

    cursor: pointer;

    font-size: 0.7rem;
}

#botonRegistro a{
    all: unset;
}

#botonRegistro:hover{
    scale: 103%;
}

#enlaceRegistro{
    margin: 80px auto;
}