.inscripcionContainer{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.tableroDeInscripcion{
    background-color: whitesmoke;
    border: 1px solid rgba(197, 195, 195, 0.78);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 750px;
    min-height: 200px;

    justify-content: space-around;

}

.selectores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.tableroDeInscripcion select{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;

}

.sectorContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    justify-content: center;

    width: fit-content;
    height: fit-content;

    border: 1px solid rgba(197, 195, 195, 0.78);
}

.labelContainer{
    padding: 5px;
}

.selectContainer{
    padding: 5px;
}

.selectContainer select{
    background-color: whitesmoke;
    min-width: 200px;
    margin: auto;
}

#buttonContainer{
    align-self: center;
}

#buttonContainer button{
    padding: 10px;
    border: 1px solid #7f1bbf;
    border-radius: 5px;
    background-color: #7f1bbf;
    color: white;
    font-weight: 400;

    cursor: pointer;
}


#buttonContainer button:hover{
    scale: 102%;
    background-color: #6b18a1;
}

#modalDeInscripcion{
    background-color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-weight: 500;
    width: 600px;
    height: 350px;
    align-self: center;
    margin: auto;
    align-content: space-evenly;
    justify-content: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#buttonContainerModal{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 40%;
    justify-content: space-around;
}

.botonModalInscripcion{
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.botonModalInscripcion:hover{
    cursor: pointer;
    scale: 102%;
}

#botonAceptar{
    background-color: #7f1bbf;
    color: white;

}

#botonCancelar{
    background-color: gray;
    color: whitesmoke;
}

.advertenciaTiempoCuestionario{
    align-self: center;
}

.botonesCuestionarioContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.botonesCuestionarioContainer button{
    margin-right: 5px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7f1bbf;
    color: white;
}

.botonesCuestionarioContainer button:hover{
    cursor: pointer;
    scale: 102%;
}

.notas{
    align-self: center;
    justify-self: center;
}

.letrasVerdes{
    color: #37c537;
}

.letrasRojas{
    color: #e31212;
}

.bold{
    display: block;
    font-weight: bold;
    font-size: 1.05rem;
}
