@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Archivo', sans-serif;
}

#loginContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    padding: 10px;

    min-height: 80vh;
}

#loginContainer form{
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.datoIngreso{

    border: 1px solid #7f1bbf;
    color: #7f1bbf;
    padding: 20px 25px;
    border-radius: 30px;

    font-weight: 600;
    text-align: center;
}

.datoIngreso::placeholder{
    color: #7f1bbf;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

#inputSubmit{
    padding: 20px 30px;
    border: none;
    background-color: #DEDDD8;
    font-weight: 600;
    border-radius: 30px;
}


#loginContainer img{
    width: 60%;
    margin: auto;
}

#perdioContraseñaContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-weight: 600;
    width: 100%;
}

.recordarUsuarioContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 480px) {

    #loginContainer{
        flex-direction: column;
    }

    #loginContainer form{
        width: auto !important;
    }


}