@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Archivo', sans-serif;
}

#loginContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 80px;
    background-color: whitesmoke;
    min-height: 80vh;
}

.formContainer{
    background-color: #FFFFFF;
    width: 400px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid #e5e3e3;
    justify-content: space-evenly;
    border-radius: 5px;
}

#loginTextHeader{
    display: flex;
    flex-direction: column;
    color: #153244;
    height: 15%;
    justify-content: space-evenly;
}

#loginTextHeader p{
    font-size: .8rem;
    color: grey;
}

#loginContainer form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
    justify-content: space-evenly;
}

form label{
    font-size: .9rem;
    font-weight: 450;
}

.inputEIcono{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    border: 1px solid rgba(197, 195, 195, 0.78);
    border-radius: 5px;
    padding-left: 10px;
}

.datoIngreso{

    border: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    flex: 1;
}

.datoIngreso::placeholder{
    color: #655f5f;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

#inputSubmit{
    padding: 10px;
    font-weight: 450;
    border-radius: 5px;
    border: 1px solid #bbbaba;
    background-color: #153244;
    color: white;
}


#perdioContraseñaContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-weight: 400;
    width: 100%;
}

#perdioContraseñaContainer p{
    text-align: center;
}

#perdioContraseñaContainer a{
    color: #153244;
    text-decoration: none;
}

.recordarUsuarioContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.recordarUsuarioContainer input{
    margin-right: 10px;
}

.advertenciaRoja{
    color: red;
}

@media (max-width:990px){

    .formContainer{
        height: 45vh;
    }

}