@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
    width: 100%;
    min-width: 800px;
}

#tablaGestionDePostulantes{

    padding: 10px;
}

tr{
    border-bottom: 1px solid #dedddd;
}

tbody tr:nth-child(odd){
    background-color: #dadada;
}

.titulosTabla{

}

.itemTitulo{

    text-align: center;

    padding: 5px;


}

tbody td{
    text-align: center;
    padding: 10px;
}

th .bi{
    font-size: .8rem;
}

.contenedorBodyTabla{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.tituloTabla{
    margin-bottom: 50px;
}

.iconoAcciones{
    cursor: pointer;
}

