@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


#testContainer{

    margin: 20px 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.modalBackground{
    background-color: #DEDDD8;
    border-radius: 10px;
    border: none;
    padding: 20px;

    width: 50vw;
    height: auto;
}

.viñeta{
    display: inline;
}

.pregunta{

    display: flex;
}

.respuestaSelect{
    display: block;
    width: 50%;
    height: 30px;
    border: 1px solid black;
    margin: 15px auto;

    border-radius: 5px;
}

.enviarTest{
    margin: 20px 40px 20px 0;

    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #7f1bbf;
    color: whitesmoke;
    border: none;
}
