<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Usuario</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/agregarUsuario.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}" >

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<th:block th:replace="common :: header"></th:block>

    <div id="formContainer" th:fragment="agregarUsuario">

        <div id="form">

            <span class="modalHeader"><h3>Alta de Usuario</h3><i class="bi bi-x-lg" onclick="ocultarModalAgregar()"></i></span>

            <label for="nombreUsuarioNuevo" class="labelUsuario">Nombre</label>
            <input id="nombreUsuarioNuevo" class="inputUsuario" type="text" placeholder="NOMBRE">

            <label for="correoUsuarioNuevo" class="labelUsuario">Correo</label>
            <input id="correoUsuarioNuevo" class="inputUsuario" type="email" placeholder="EMAIL">

            <label for="dniNuevo" class="labelUsuario">DNI</label>
            <input id="dniNuevo" type="text" class="inputUsuario" PLACEHOLDER="DNI"  th:onchange="verificarUsuario()">


            <input id="usernameUsuarioNuevo" type="text" placeholder="USERNAME" style="display: none">
            <p id="usuarioExistente" class="advertenciaUsuarioExistente" hidden>El usuario ya existe</p>

            <label for="passwordUsuarioNuevo" class="labelUsuario">Contraseña</label>
            <input id="passwordUsuarioNuevo" class="inputUsuario" type="password" placeholder="PASSWORD">

            <label for="tipoDeUsuario" class="labelUsuario">Tipo</label>
            <select id="tipoDeUsuario" class="inputUsuario">
                <option>TIPO DE USUARIO</option>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option value="ROLE_POSTULANTE">POSTULANTE</option>
                <option value="ROLE_USER">USUARIO</option>
                <option value="ROLE_ENTREVISTADOR">ENTREVISTADOR</option>
                <option value="ROLE_ORIENTADOR">ORIENTADOR</option>
                <option value="ROLE_EVALUADOR">EVALUADOR</option>
                <option value="ROLE_REFERENTE">REFERENTE</option>
            </select>

            <button class="botonCrearUsuario" onclick="crearUsuario()">
                CREAR USUARIO</button>
        </div>

    </div>

    <th:block th:replace="common::footer"></th:block>


    <script th:src="@{/javaScript/agregarUsuario.js}"></script>


</body>
</html>