<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Usuario</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/agregarUsuario.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}" >

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>

<th:block th:replace="common :: header"></th:block>

    <div id="formContainer">

        <div id="form">
            <input id="nombreUsuarioNuevo" type="text" placeholder="NOMBRE">
            <input id="correoUsuarioNuevo" type="email" placeholder="EMAIL">
            <input id="dniNuevo" type="text" PLACEHOLDER="DNI">
            <input id="usernameUsuarioNuevo" type="text" placeholder="USERNAME" style="display: none">
            <input id="passwordUsuarioNuevo" type="password" placeholder="PASSWORD">
            <select id="tipoDeUsuario">
                <option>TIPO DE USUARIO</option>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option value="ROLE_POSTULANTE">POSTULANTE</option>
                <option value="ROLE_USER">USUARIO</option>
                <option value="ROLE_ENTREVISTADOR">ENTREVISTADOR</option>
                <option value="ROLE_ORIENTADOR">ORIENTADOR</option>
                <option value="ROLE_EVALUADOR">EVALUADOR</option>
                <option value="ROLE_REFERENTE">REFERENTE</option>
            </select>

            <button class="botonCrearUsuario" onclick="crearUsuario()">
                CREAR USUARIO</button>
        </div>

        <img th:src="@{/img/logo_ACS.png}">

    </div>

    <th:block th:replace="common::footer"></th:block>


    <script th:src="@{/javaScript/agregarUsuario.js}"></script>


</body>
</html>