<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Usuario</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>

<th:block th:replace="common :: header"></th:block>

    <div>
        <input id="nombreUsuarioNuevo" type="text" placeholder="NOMBRE">
        <input id="correoUsuarioNuevo" type="email" placeholder="EMAIL">
        <input id="DNI" type="number" PLACEHOLDER="DNI">
        <input id="usernameUsuarioNuevo" type="text" placeholder="USERNAME">
        <input id="passwordUsuarioNuevo" type="password" placeholder="PASSWORD">
        <select>
            <option>TIPO DE USUARIO</option>
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USUARIO</option>
        </select>

        <button onclick="funciona()">
            CREAR USUARIO</button>
    </div>


    <script th:src="@{../static/javaScript/agregarUsuario.js}">

    </script>


</body>
</html>