<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acreditacion de Saberes</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" th:href="@{/css/tablas.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>

<th:block th:replace="common :: header" th:id="menu"></th:block>

    <div id="bodyContainer">

        <th:block th:replace="common :: menu"></th:block>


        <!-- LA API PARA MOSTRAR LAS TABLAS EN ESTE CONTAINER ESTAN EN common.js -->
            <div id="tableContainer">

            </div>


    </div>

<div id="modalContainer" onclick="ocultarAdvertencia()">
    <div id="advertenciaContainer">

    </div>
</div>




<th:block th:replace="common :: footer"></th:block>


<script th:src="@{/javaScript/common.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</body>
</html>