<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acreditacion de Saberes</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" th:href="@{/css/tablas.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/inscripciones.css}">
    <link rel="stylesheet" th:href="@{/css/test.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cheerio/dist/cheerio.min.js"></script>
</head>
<body>

<th:block th:replace="common :: header" th:id="menu"></th:block>

    <div id="bodyContainer">

        <th:block th:replace="common :: menu"></th:block>


        <!-- LA API PARA MOSTRAR LAS TABLAS EN ESTE CONTAINER ESTAN EN common.js -->
            <div id="tableContainer">

            </div>


    </div>

<div id="modalContainer" onclick="ocultarAdvertencia()">
    <div id="advertenciaContainer" th:fragment="modalEliminar (${usuario}, ${tabla}, ${centros}, ${sectores}, ${trayectos})" >

          <div th:if="${tabla == 'Usuarios'}" th:each="user : ${usuario}">
            <h4>¿Quieres eliminar al usuario <span   th:text="${user.nombre}">nombre</span>?</h4>
            <div id="ContainerBotonesDelModal">
                <button class="botonModal aceptar"  th:data="${user.id}" th:data-value="${tabla}" onclick="eliminarElemento(this)">Aceptar</button>
                <button class="botonModal cancelar" onclick="ocultarAdvertencia()">Cancelar</button>
            </div>
          </div>

        <div th:if="${tabla == 'Centros'}" th:each="centro : ${centros}">
            <h4>¿Quieres eliminar al centro <span   th:text="${centro.nombre}">nombre</span>?</h4>
            <div id="ContainerBotonesDelModal">
                <button class="botonModal aceptar"  th:data="${centro.id}" th:data-value="${tabla}" onclick="eliminarElemento(this)">Aceptar</button>
                <button class="botonModal cancelar" onclick="ocultarAdvertencia()">Cancelar</button>
            </div>
        </div>

        <div th:if="${tabla == 'Sectores'}" th:each="sector : ${sectores}">
            <h4>¿Quieres eliminar al sector <span   th:text="${sector.nombre}">nombre</span>?</h4>
            <div id="ContainerBotonesDelModal">
                <button class="botonModal aceptar"  th:data="${sector.id}" th:data-value="${tabla}" onclick="eliminarElemento(this)">Aceptar</button>
                <button class="botonModal cancelar" onclick="ocultarAdvertencia()">Cancelar</button>
            </div>
        </div>

        <div th:if="${tabla == 'Trayectos'}" th:each="trayecto : ${trayectos}">
            <h4>¿Quieres eliminar al trayecto <span   th:text="${trayecto.nombre}">nombre</span>?</h4>
            <div id="ContainerBotonesDelModal">
                <button class="botonModal aceptar"  th:data="${trayecto.id}" th:data-value="${tabla}" onclick="eliminarElemento(this)">Aceptar</button>
                <button class="botonModal cancelar" onclick="ocultarAdvertencia()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalesParaAgregarContainer">

</div>




<th:block th:replace="common :: footer"></th:block>


<script th:src="@{/javaScript/common.js}"></script>

<script th:src="@{/javaScript/modalAgregar.js}"></script>

<script th:src="@{/javaScript/modalEdicion.js}"></script>

<script th:src="@{/javaScript/editarUsuario.js}"></script>

<script th:src="@{/javaScript/inscripcion.js}"></script>

<script th:src="@{/javaScript/validacionesDeTest.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</body>
</html>