<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}" >
    <title>Acreditacion de Saberes</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>

    <header id="pageHeader" th:fragment="header">

        <div id="logoCiudadContainer">
            <img th:src="@{/img/logoAgencia.png}" alt="logo Ciudad BA">
        </div>

        <div id="loguearse" >
            <form method="POST" th:action="@{/logout}">
                <a  href="#" onclick="this.parentNode.submit()"><iconify-icon icon="mdi:location-exit" width="28" height="28" style="color:rgba(0, 0, 0, 0.44)"></iconify-icon></a>
            </form>
        </div>
    </header>

    <div id="menuContainer" th:fragment="menu">
        <div id="adminPanel">
            <img th:src="@{/img/ei--user.png}" id="userIcon">
            <span>ADMIN</span>
        </div>
        <div id="userBottomBorder"></div>

        <div id="displayContainer">
            <div class="itemContainer hover puedeSeleccionarse" onclick="mostrarTablas('Postulantes')">
                <iconify-icon icon="fluent:people-28-regular" width="28" height="28" class="menuIcon">
                </iconify-icon>
                <span>Postulantes</span>
            </div>
            <div class="itemContainer hover puedeSeleccionarse" onclick="mostrarTablas('Entrevistas')">
                <iconify-icon icon="ion:calendar" width="20" height="20" class="menuIcon"></iconify-icon>
                <span>Turno Entrevista</span>
            </div>
            <div class="itemContainer hover puedeSeleccionarse" onclick="mostrarTablas('Acreditacion')">
                <iconify-icon icon="ion:calendar" width="20" height="20" class="menuIcon"></iconify-icon>
                <span>Turno Acreditación</span>
            </div>
            <div class="itemContainer hover" id="desplegarEditables">
                <iconify-icon icon="ic:sharp-school" width="21" height="21" class="menuIcon"></iconify-icon>
                <span>Maestros</span>
                <iconify-icon icon="lucide:list-end" width="21" height="21" id="desplegarLista" onclick="desplegarLista()"></iconify-icon>
            </div>

            <div class="listContainer">
                <ul id="listaEditables">
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Centros')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Centros</span></li>
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Trayectos')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Trayectos</span></li>
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Sectores')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Sectores</span></li>
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Modulos')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Modulos</span></li>
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Usuarios')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Usuarios</span></li>
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Orientadores')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Orientadores</span></li>
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Entrevistadores')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Entrevistadores</span></li>
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Evaluadores')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Evaluadores</span></li>
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Probador de Modulos')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Probador de Modulos</span></li>
                    <li class="hover listItem puedeSeleccionarse" onclick="mostrarTablas('Usuarios Postulantes')"><iconify-icon icon="tabler:edit" width="19" height="20"></iconify-icon> <span>Usuario de Modulos</span></li>
                </ul>
            </div>
        </div>
    </div>



    <footer th:fragment="footer">

        <div id="footerContainer">
            <h3>Agencia de Aprendizaje a Lo Largo de la Vida</h3>
        </div>

    </footer>

<script th:src="@{/javaScript/common.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</body>
</html>