<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>

    <link rel="stylesheet" th:href="@{/css/agregarUsuario.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}" >
</head>
<body>


    <div id="formContainer" th:fragment="editar(${usuario})">



        <div id="form" class="editarUser" th:each="datosusuario : ${usuario}">



            <span class="modalHeader"><h3>Editar Usuario</h3><i class="bi bi-x-lg" onclick="ocultarModalAgregar()"></i></span>

            <input id="idUsuarioEditar" hidden type="number" th:value="${datosusuario.id}">

            <label for="nombreUsuarioEditar" class="labelUsuario">Nombre</label>
            <input id="nombreUsuarioEditar" class="inputUsuario" type="text" placeholder="NOMBRE" th:value="${datosusuario.nombre}" >

            <label for="correoUsuarioEditar" class="labelUsuario">Correo</label>
            <input id="correoUsuarioEditar" class="inputUsuario" type="email" placeholder="EMAIL" th:value="${datosusuario.mail}">

            <label for="dniEditar" class="labelUsuario">DNI</label>
            <input id="dniEditar" class="inputUsuario" type="text" PLACEHOLDER="DNI" th:value="${datosusuario.DNI}">


            <input id="usernameUsuarioEditar"  type="text" placeholder="USERNAME" th:value="${datosusuario.username}" hidden>

            <label for="passwordUsuarioEditar" class="labelUsuario">Contraseña</label>
            <input id="passwordUsuarioEditar" class="inputUsuario" type="password" placeholder="PASSWORD" th:value="${datosusuario.password}">

            <label for="tipoDeUsuarioEditar" class="labelUsuario" hidden>Tipo</label>
            <select id="tipoDeUsuarioEditar" class="inputUsuario" hidden>
                <option th:value="${datosusuario.rol}">TIPO DE USUARIO</option>
                <option>TIPO DE USUARIO</option>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option value="ROLE_POSTULANTE">POSTULANTE</option>
                <option value="ROLE_USER">USUARIO</option>
                <option value="ROLE_ENTREVISTADOR">ENTREVISTADOR</option>
                <option value="ROLE_ORIENTADOR">ORIENTADOR</option>
                <option value="ROLE_EVALUADOR">EVALUADOR</option>
                <option value="ROLE_REFERENTE">REFERENTE</option>
            </select>

            <button class="botonCrearUsuario" onclick="editarUsuario()">
                EDITAR USUARIO</button>
        </div>

    </div>


    <div id="formContainer" th:fragment="editarPostulante(${usuario})">



        <div id="form" class="editarUser" th:each="datosusuario : ${usuario}">



            <span class="modalHeader"><h3>Editar Usuario</h3><i class="bi bi-x-lg" onclick="ocultarModalAgregar()"></i></span>

            <input id="postulanteId" hidden type="number" th:value="${datosusuario.id}">

            <label for="nombrePostulante" class="labelUsuario">Nombre</label>
            <input id="nombrePostulante" class="inputUsuario" type="text" placeholder="NOMBRE" th:value="${datosusuario.nombre}" >

            <label for="emailPostulante" class="labelUsuario">Correo</label>
            <input id="emailPostulante" class="inputUsuario" type="email" placeholder="EMAIL" th:value="${datosusuario.mail}">

            <label for="dniPostulante" class="labelUsuario">DNI</label>
            <input id="dniPostulante" class="inputUsuario" type="text" PLACEHOLDER="DNI" th:value="${datosusuario.DNI}">


            <input id="postulanteUsername"  type="text" placeholder="USERNAME" th:value="${datosusuario.DNI}" hidden>

            <label for="postulantePassword" class="labelUsuario">Contraseña</label>
            <input id="postulantePassword" class="inputUsuario" type="password" placeholder="PASSWORD" th:value="${datosusuario.password}">

            <input id="generoPostulante" th:value="${datosusuario.genero}" hidden>
            <input id="telefonoPostulante" th:value="${datosusuario.telefono}" hidden>
            <input id="celularPostulante" th:value="${datosusuario.celular}" hidden>
            <input id="cuilPostulante" th:value="${datosusuario.cuil}" hidden>
            <input id="nacionalidadDelPostulante" th:value="${datosusuario.nacionalidad}" hidden>
            <input id="provinciaPostulante" th:value="${datosusuario.provincia}" hidden>
            <input id="localidadPostulante" th:value="${datosusuario.localidad}" hidden>
            <input id="callePostulante" th:value="${datosusuario.calle}" hidden>
            <input id="numeroDeCallePostulante" th:value="${datosusuario.numeroDeCalle}" hidden>
            <input id="pisoPostulante" th:value="${datosusuario.piso}" hidden>
            <input id="postulanteRol" th:value="${datosusuario.rol}" hidden>
            <input id="postulanteEstado" th:value="${datosusuario.estado}" hidden>

            <button class="botonCrearUsuario" onclick="editarPostulanteDesdeAdmin()">
                EDITAR USUARIO</button>
        </div>

    </div>

    <script th:src="@{/javaScript/editarUsuario.js}"></script>
</body>
</html>