<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acreditacion de Saberes</title>

    <link rel="stylesheet" th:href="@{/css/info.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</head>
<body>

<th:block th:replace=" common :: header"></th:block>


<div id="bannerInfoContainer">
    <h1>Acreditación de Saberes</h1>

    <div id="subtituloBanner">
        <iconify-icon icon="mdi:university" width="55" height="55"  style="color: white"></iconify-icon>
        <h3>Reconocemos tus habilidades y experiencia laboral con certificaciones oficiales</h3>
    </div>
</div>

<div id="bodyContainer">

    <h1 class="tituloInfoAzul">¿Qué hacemos?</h1>

    <div id="cardsContainer">

        <div class="contenedorBlanco derecho">

            <h2 class="tituloInfo">Nuestra Misión</h2>

            <br>
            <br>

            <p class="subtituloInfo">Acreditación de Saberes es un programa que permite
                validar y certificar oficialmente los conocimientos y habilidades
                adquiridos a través de la experiencia laboral o formación no formal.</p>

        </div>


        <div class="contenedorBlanco izquierdo">

            <h2 class="tituloInfo">Beneficios:</h2>

            <br>
            <br>

            <ul class="subtituloInfo">

                <li>Reconocimiento oficial de tus habilidades</li>
                <li>Mejora tu perfil profesional</li>
                <li>Aumenta tus oportunidades laborales</li>
                <li>Fomenta el aprendizaje continuo</li>

            </ul>

        </div>



    </div>

    <h1 class="tituloInfoAzul">¿Qué oficios puedo acreditar?</h1>


    <div class="oficiosContainer">
        <div class="sectoresContainer">
            <div class="sectorHeader">
                <iconify-icon icon="ic:twotone-electrical-services" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Servicios</h3>

                <iconify-icon id="arrowServicios" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowServiciosDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="servicios" style="display: none">
                <li>Gas</li>
                <li>Electricidad</li>
                <li>Sanitarios</li>
                <li>Climatización</li>
            </ul>

        </div>

        <div class="sectoresContainer">

            <div class="sectorHeader">
                <iconify-icon icon="mdi:car-cog" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Mecánica</h3>

                <iconify-icon id="arrowMecanica" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowMecanicaDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="mecanica" style="display: none">
                <li>Electricidad del automotor</li>
                <li>mecanica de sist. de inyec. de diesel</li>
                <li>mecanica de motos</li>
                <li>mecanica de bicicletas</li>
                <li>mecanica de motor</li>
            </ul>

        </div>

        <div class="sectoresContainer">

            <div class="sectorHeader">
                <iconify-icon icon="tabler:tools-kitchen-2" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Cocina</h3>

                <iconify-icon id="arrowCocina" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowCocinaDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="cocina" style="display: none">
                <li>Panadería</li>
                <li>Pastelería</li>
                <li>Cocina</li>
            </ul>

        </div>

        <div class="sectoresContainer">

            <div class="sectorHeader">
                <iconify-icon icon="icon-park-solid:clothes-turtleneck" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Indumentaria/Ropa</h3>

                <iconify-icon id="arrowIndumentaria" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowIndumentariaDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="indumentaria" style="display: none">
                <li>Modista</li>
                <li>Operador de maquinarias para confección de indumentaria</li>
            </ul>

        </div>

        <div class="sectoresContainer">

            <div class="sectorHeader">
                <iconify-icon icon="icon-park-outline:code-computer" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Sistemas</h3>

                <iconify-icon id="arrowSistemas" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowSistemasDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="sistemas" style="display: none">
                <li>Instalador de sistemas de redes</li>
                <li>Instalador y soporte de sistemas informaticos</li>
                <li>Programación</li>
            </ul>
        </div>
    </div>

</div>





<div class="contenedorBlanco izquierdo">

    <h2 class="tituloInfo">¿Cuáles son los pasos a seguir?</h2>

    <br>
    <br>

    <ol>
        <li> <span class="textoBold"> Crea tu usuario: </span>Regístrate en el portal y recibirás un correo electrónico con tu
            usuario y contraseña. Recuerda que debes ser mayor de 18 años y, según el oficio,
            se te podrían solicitar requisitos adicionales. </li>

        <li> <span class="textoBold"> Elige tu sector y oficio: </span> Una vez dentro del portal, selecciona el sector y el oficio en
            el que deseas acreditar tus saberes. </li>

        <li> <span class="textoBold"> Completa el cuestionario inicial: </span> Este cuestionario nos permitirá evaluar tu nivel de
            conocimientos para brindarte la mejor asesoría. </li>

        <li>
            <span class="textoBold">¡Espera la comunicación! </span>Si la mayoría de tus respuestas son correctas, un Centro de Formación
            Profesional se pondrá en contacto contigo para continuar el proceso.</li>

        <li><span class="textoBold">¿No aprobaste el cuestionario? </span> ¡No te preocupes! Puedes inscribirte y comenzar a
            estudiar el oficio desde cero.</li>
    </ol>

</div>





<br>
<br>
<br>
<br>

<p class="centrarTexto textoBold">¡No pierdas esta oportunidad de reconocer tus habilidades y obtener un certificado oficial!</p>

<br>

<p class="centrarTexto textoBold">¡Inscríbete hoy mismo!</p>

<a href="registro" id="enlaceRegistro"><button id="botonRegistro">COMENZAR REGISTRO</button></a>


<h3 class="tituloInfo">¿Más información?</h3>

<br>
<br>

<p><span class="textoBold">Conoce todas las opciones de formación e inscríbete: </span>
    <a href="https://agenciadeaprendizaje.bue.edu.ar/" target="_blank" >agenciadeaprendizaje.bue.edu.ar/</a></p>

<br>

<p><span class="textoBold">
        Preguntas frecuentes:</span>
    <a href="http://buenosaires.gob.ar/acreditacion-de-saberes/preguntas-frecuentes" target="_blank">
        buenosaires.gob.ar/acreditacion-de-saberes/preguntas-frecuentes </a> </p>

<th:block th:replace=" common :: footer"></th:block>

<script th:src="@{/javaScript/info.js}"></script>
</body>
</html>