<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acreditacion de Saberes</title>

    <link rel="stylesheet" th:href="@{/css/info.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</head>
<body>

<th:block th:replace=" common :: header"></th:block>


<div id="bannerInfoContainer">
    <h1>Acreditación de Saberes</h1>

    <div id="subtituloBanner">
        <iconify-icon icon="mdi:university" width="55" height="55"  style="color: white"></iconify-icon>
        <h3>Reconocemos tus habilidades y experiencia laboral con certificaciones oficiales</h3>
    </div>
</div>

<div class="bodyContainer">

    <h1 class="tituloInfoAzul">¿Qué hacemos?</h1>

    <div class="cardsContainer">

        <div class="contenedorBlanco derecho">

            <h2 class="tituloInfo">Nuestra Misión</h2>

            <p class="subtituloInfo">Acreditación de Saberes es un programa que permite
                validar y certificar oficialmente los conocimientos y habilidades
                adquiridos a través de la experiencia laboral o formación no formal.</p>

        </div>


        <div class="contenedorBlanco izquierdo">

            <h2 class="tituloInfo">Beneficios:</h2>

            <ul class="subtituloInfo">

                <li>Reconocimiento oficial de tus habilidades</li>
                <li>Mejora tu perfil profesional</li>
                <li>Aumenta tus oportunidades laborales</li>
                <li>Fomenta el aprendizaje continuo</li>

            </ul>

        </div>



    </div>

    <h1 class="tituloInfoAzul">¿Qué oficios podés acreditar?</h1>


    <div class="oficiosContainer">
        <div class="sectoresContainer">
            <div class="sectorHeader">
                <iconify-icon icon="ic:twotone-electrical-services" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Servicios</h3>

                <iconify-icon id="arrowServicios" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowServiciosDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="servicios" style="display: none">
                <li>Gas</li>
                <li>Electricidad</li>
                <li>Sanitarios</li>
                <li>Climatización</li>
            </ul>

        </div>

        <div class="sectoresContainer">

            <div class="sectorHeader">
                <iconify-icon icon="mdi:car-cog" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Mecánica</h3>

                <iconify-icon id="arrowMecanica" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowMecanicaDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="mecanica" style="display: none">
                <li>Electricidad del automotor</li>
                <li>mecanica de sist. de inyec. de diesel</li>
                <li>mecanica de motos</li>
                <li>mecanica de bicicletas</li>
                <li>mecanica de motor</li>
            </ul>

        </div>

        <div class="sectoresContainer">

            <div class="sectorHeader">
                <iconify-icon icon="tabler:tools-kitchen-2" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Cocina</h3>

                <iconify-icon id="arrowCocina" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowCocinaDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="cocina" style="display: none">
                <li>Panadería</li>
                <li>Pastelería</li>
                <li>Cocina</li>
            </ul>

        </div>

        <div class="sectoresContainer">

            <div class="sectorHeader">
                <iconify-icon icon="icon-park-solid:clothes-turtleneck" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Indumentaria/Ropa</h3>

                <iconify-icon id="arrowIndumentaria" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowIndumentariaDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="indumentaria" style="display: none">
                <li>Modista</li>
                <li>Operador de maquinarias para confección de indumentaria</li>
            </ul>

        </div>

        <div class="sectoresContainer">

            <div class="sectorHeader">
                <iconify-icon icon="icon-park-outline:code-computer" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Sistemas</h3>

                <iconify-icon id="arrowSistemas" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaOficios(this.id)"></iconify-icon>
                <iconify-icon id="arrowSistemasDown" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaOficios(this.id)"></iconify-icon>

            </div>

            <ul class="subtituloInfo" id="sistemas" style="display: none">
                <li>Instalador de sistemas de redes</li>
                <li>Instalador y soporte de sistemas informaticos</li>
                <li>Programación</li>
            </ul>
        </div>
    </div>

</div>


<div id="bodyPasosASeguir">

    <h1 class="tituloInfoAzul">¿Qué pasos debés seguir?</h1>

    <div class="listaDesplegableContainer">
        <div class="listaDesplegable">
            <div class="tituloDesplegable">
                <h4 class="tituloInfo">Crea tu usuario</h4>
                <iconify-icon id="arrowPaso1" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaPasosASeguir('paso1')"></iconify-icon>
                <iconify-icon id="arrowPaso1Down" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaPasosASeguir('paso1')"></iconify-icon>
            </div>
            <div class="textoContainer" id="paso1" hidden>
                <p>
                    Regístrate en el portal y recibirás un correo
                    electrónico con tu usuario y contraseña.
                    Recuerda que debes ser mayor de 18 años y,
                    según el oficio, se te podrían solicitar requisitos adicionales.
                </p>
            </div>
        </div>

        <div class="listaDesplegable">
            <div class="tituloDesplegable">
                <h4 class="tituloInfo">Elige tu sector y oficio</h4>
                <iconify-icon id="arrowPaso2" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaPasosASeguir('paso2')"></iconify-icon>
                <iconify-icon id="arrowPaso2Down" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaPasosASeguir('paso2')"></iconify-icon>
            </div>

            <div class="textoContainer" id="paso2">
                <p>
                    Una vez dentro del portal,
                    selecciona el sector y el oficio en el que
                    deseas acreditar tus saberes.
                </p>
            </div>
        </div>

        <div class="listaDesplegable">

            <div class="tituloDesplegable">
                <h4 class="tituloInfo">Completa el cuestionario inicial</h4>
                <iconify-icon id="arrowPaso3" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaPasosASeguir('paso3')"></iconify-icon>
                <iconify-icon id="arrowPaso3Down" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaPasosASeguir('paso3')"></iconify-icon>
            </div>

            <div class="textoContainer" id="paso3">
                <p>Este cuestionario nos permitirá evaluar tu nivel de
                    conocimientos para brindarte la mejor asesoría.</p>
            </div>

        </div>

        <div class="listaDesplegable">

            <div class="tituloDesplegable">
                <h4 class="tituloInfo">¡Espera la comunicación!</h4>
                <iconify-icon id="arrowPaso4" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaPasosASeguir('paso4')"></iconify-icon>
                <iconify-icon id="arrowPaso4Down" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaPasosASeguir('paso4')"></iconify-icon>
            </div>

            <div class="textoContainer" id="paso4">
                <p>
                    Si la mayoría de tus respuestas son correctas,
                    un Centro de Formación Profesional se pondrá en contacto
                    contigo para continuar el proceso.
                </p>
            </div>


        </div>

        <div class="listaDesplegable">

            <div class="tituloDesplegable">
                <h4 class="tituloInfo">¿No aprobaste el cuestionario?</h4>
                <iconify-icon id="arrowPaso5" icon="material-symbols-light:keyboard-arrow-right" width="28" height="28"  style="color: black" onclick="desplegarListaPasosASeguir('paso5')"></iconify-icon>
                <iconify-icon id="arrowPaso5Down" icon="mdi:keyboard-arrow-down" width="28" height="28"  style="color: black; display: none" onclick="ocultarListaPasosASeguir('paso5')"></iconify-icon>

            </div>

            <div class="textoContainer" id="paso5">
                <p>
                    ¡No te preocupes! Puedes inscribirte y comenzar
                    a estudiar el oficio desde cero.
                </p>
            </div>

        </div>
    </div>
</div>

<div class="bodyContainer">

    <div class="cardsContainer">

        <div class="beneficiosCardBody">

            <div class="beneficiosHeader">
                <iconify-icon icon="vaadin:diploma" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Reconocimiento Oficial</h3>
            </div>

            <div class="beneficioDescripcion">
                <p class="textoBeneficio">
                    Certificados avalados por el Gobierno de la
                    Ciudad de Buenos Aires
                </p>
            </div>
        </div>

        <div class="beneficiosCardBody">
            <div class="beneficiosHeader">
                <iconify-icon icon="mdi:check-circle-outline" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Experiencia Validada</h3>
            </div>

            <div class="beneficioDescripcion">
                <p class="textoBeneficio">
                    Tu experiencia laboral se convierte en una certificación formal
                </p>
            </div>
        </div>

        <div class="beneficiosCardBody">
            <div class="beneficiosHeader">
                <iconify-icon icon="mdi:university" width="40" height="40"  style="color: #7f1bbf"></iconify-icon>
                <h3 class="tituloSector">Aprendizaje Continuo</h3>
            </div>

            <div class="beneficioDescripcion">
                <p class="textoBeneficio">
                    Te permite seguir tu formación y articularte con instituciones formales
                </p>
            </div>
        </div>
    </div>

    <div class="masInfoContainer">

        <h2 class="centrarTexto tituloInfoAzul">¡No pierdas esta oportunidad de reconocer tus habilidades y obtener un certificado oficial!</h2>

        <br>

        <h3 class="centrarTexto tituloInfoAzul">¡Inscríbete hoy mismo!</h3>

        <a href="registro" id="enlaceRegistro"><button id="botonRegistro">COMENZAR REGISTRO</button></a>


        <h3 class="tituloInfo">¿Más información?</h3>

        <br>
        <br>

        <p>Conocé la oferta formativa de la<span class="textoBold"> Agencia de Habilidades para el Futuro  </span> ingresando
            <a href="https://buenosaires.gob.ar/educacion/agencia-de-habilidades-para-el-futuro" target="_blank" >a este link</a></p>

        <br>

        <p><span class="textoBold">
        Si necesitás más información sobre Acreditación de Saberes</span>
            <a href="https://buenosaires.gob.ar/educacion/agencia-de-habilidades-para-el-futuro/acreditacion-de-saberes" target="_blank">
                podés ingresar a éste link </a> </p>

    </div>



</div>



<th:block th:replace=" common :: footer"></th:block>

<script th:src="@{/javaScript/info.js}"></script>
</body>
</html>