<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acreditacion De Saberes</title>

    <link rel="stylesheet" th:href="@{/css/inscripciones.css}">
</head>
<body>

    <div id="inscripcionContainer" class="inscripcionContainer" th:fragment="inscripcion(${sectores}, ${trayectos}, ${postulante})">

        <h1 class="tituloTabla"> Nuevo Oficio </h1>
        <div class="tableroDeInscripcion">

            <div class="selectores">

                <div class="sectorContainer">
                    <div class="labelContainer">
                      <label for="trayectoSeleccionado">Sector a postular</label>
                    </div>
                    <div class="selectContainer">
                        <select id="sectorSeleccionado" th:onchange="buscarTrayectos()">
                            <option value=""></option>
                            <option th:each=" sector : ${sectores}" th:value="${sector.id}" th:text="${sector.nombre}" onclick="buscarTrayectos()"></option>
                        </select>
                    </div>
                </div>
                <div class="sectorContainer">
                    <div class="labelContainer">
                      <label for="trayectoSeleccionado">Oficio a postular</label>
                    </div>
                    <div class="selectContainer">
                        <select id="trayectoSeleccionado" th:fragment="seleccionDeTrayecto(${trayectos}, ${inscripciones}, ${postulante})" th:onchange="filtrarCentros()">
                            <option value=""></option>
                            <option th:each="trayecto : ${trayectos}" th:text="${trayecto.nombre}" th:value="${trayecto.nombre}" th:data-id="${trayecto.id}"></option>
                 <!--           <option value="panadero" class="gastronomia" style="display: none">Panadero</option>
                            <option value="cocinero" class="gastronomia" style="display: none">Cocinero</option>
                            <option value="pastelero" class="gastronomia" style="display: none">Pastelero</option>
                            <option value="montadorElectricistaDomiciliario" class="energiaElectrica" style="display: none">Montador electricista domiciliario</option>
                            <option value="montadorDeEnergiasRenovables" class="energiaElectrica" style="display: none">Instalador de sistemas eléctricos de energías renovables</option>
                            <option value="montadorDeInstalacionesSanitariasDomiciliarias" class="construcciones" style="display: none">Montador de instalaciones Sanitarias Domiciliares</option>
                            <option value="montadorDeInstalacionesDomiciliariasDeGas" class="construcciones" style="display: none">Montador de instalaciones Domiciliarias de Gas</option>
                            <option value="programador" class="informatica" style="display: none">Programador</option>
                            <option value="mecanicoDeMotos" class="mecanicaDeMotos" style="display: none">Mecanico de Motos</option>
                            <option value="mecanicoDeSistemasDeEncendidoYAlimentacion" class="mecanicaAutomotriz" style="display: none">Mecanico de Sistemas de Encendido y Alimentación</option>
                            <option value="mecanicoDeSistemasDeInyeccionDiesel" class="mecanicaAutomotriz" style="display: none">Mecanico de Sistemas de Inyección Diesel</option>
                            <option value="mecanicoDeBicicletas" class="mecanicaAutomotriz" style="display: none">Mecánico de Bicicletas</option>
                            <option value="instaladorYReparadorDeEquiposDeClimatizacion" class="reparacionYMantenimientoDeMáquinasYEquiposElectricosElectronicos" style="display: none">Instalador y Reparador de Equipos de Climatización</option>
                       --> </select>
                    </div>
                </div>

                <div class="sectorContainer">
                    <div class="labelContainer">
                        <label for="centroSeleccionado">Centro donde se dicta</label>
                    </div>
                    <div class="selectContainer" th:fragment="seleccionDeCentro(${centros})">
                        <select id="centroSeleccionado" >
                            <option value=""></option>
                            <option th:each=" centro : ${centros}" th:value="${centro.id}" th:text="${centro.nombre}"></option>
                        </select>
                    </div>
                </div>

            </div>

            <div id="buttonContainer">
                <button id="botonSiguiente" onclick="mostrarModalInscripcion()">SIGUIENTE</button>
            </div>
        </div>

    </div>


    <div th:fragment="modalDeInscripcion" id="modalDeInscripcion">

        <h2>Condiciones Generales</h2>

        <br>

        <p class="bold">Asegurate de tener tus datos actualizados.</p>

        <br>

            <p>Comenzará un cuestionario inicial sobre el oficio elegido que cuenta con preguntas básicas del oficio.
                (Esto nos servirá para identificar tu nivel de conocimientos y poder asesorarte mejor)
            </p>

        <h4>¡A partir de ahora, tendrás 30 minutos para responder!</h4>

        <p>La página no se detendrá ni se va a pausar. Al terminar o cerrar la página, se enviarán las respuestas correctas.

            Te recomendamos encontrar un lugar tranquilo y contar con tiempo para realizarlo.
        </p>
        <div id="buttonContainerModal">
            <button id="botonAceptar" class="botonModalInscripcion" onclick="llevarAlCuestionario()">Aceptar</button>
            <button id="botonCancelar" class="botonModalInscripcion" onclick="ocultarModalInscripcion()">Cancelar</button>
        </div>

    </div>

    <div class="inscripcionContainer" th:fragment="vistaCuestionario">

        <h1 class="tituloTabla"> Iniciar Cuestionario </h1>

        <div class="tableroDeInscripcion">
            <h3 class="advertenciaTiempoCuestionario">El siguiente cuestionario tendrá una duracion de 30 minutos</h3>


            <div class="botonesCuestionarioContainer">
                <button onclick="mostrarTableroDeInscripcion()">Ir Atrás</button>
                <button onclick="mostrarCuestionario()">Comenzar</button>
            </div>
        </div>

    </div>

    <div class="inscripcionContainer" th:fragment="aprobado(${nota}, ${puntajeMaximo})">

        <div class="tableroDeInscripcion">
            <h3 class="notas">¡Felicidades! aprobaste el test evaluativo.</h3>
            <h4 class="notas">Tu puntaje final fue <span th:text="${nota}" class="letrasVerdes">nota</span> de <span th:text="${puntajeMaximo}"></span></h4>

            <div class="botonesCuestionarioContainer">
                <button onclick="mostrarTablas('Mis Trayectos')">Continuar</button>
            </div>
        </div>

    </div>

    <div class="inscripcionContainer" th:fragment="desaprobado">
        <div class="tableroDeInscripcion">
            <h3 class="notas">No aprobaste el test evaluativo para tu trayecto.</h3>
            <h4 class="notas">Tu puntaje final fue <span th:text="${nota}" class="letrasRojas">nota</span> de <span th:text="${puntajeMaximo}"></span></h4>

            <div class="botonesCuestionarioContainer">

                <button onclick="mostrarTablas('Mis Trayectos')">Continuar</button>
            </div>

        </div>
    </div>

    <div class="inscripcionContainer" th:fragment="datosIncompletos">
        <div class="tableroDeInscripcion error">
            <div class="mensajeError letrasRojas"><iconify-icon icon="mdi:error-outline" width="28" height="28" ></iconify-icon>Completa tus datos</div>
            <div class="descripcionDelError">
                <p>Para poder inscribirte, es necesario que completes todos los campos requeridos en tu perfil.
                </p>
            </div>

            <div class="botonesCuestionarioContainer">

                <button onclick="mostrarTablas('Mis Datos')">Continuar</button>
            </div>

        </div>
    </div>


    <script th:src="@{/javaScript/inscripcion.js}"></script>
</body>
</html>