<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>

<th:block th:replace="common :: header"></th:block>

    <div id="loginContainer">

        <div class="formContainer">

            <form  th:action="@{/login}" method="POST">

                <div id="loginTextHeader">
                    <h2>Iniciar Sesión</h2>
                    <p>Ingresa a tu cuenta de Acreditación de Saberes</p>
                </div>

                <label for="username">Ingresa tu DNI</label>

                <div class="inputEIcono">
                    <iconify-icon icon="material-symbols:id-card-outline-rounded" width="28" height="28"  style="color: #655f5f"></iconify-icon>
                    <input type="text" name="username" id="username" placeholder="Ejemp. 22333444" class="datoIngreso" />
                </div>
                
                <br>

                <label for="password">Contraseña</label>

                <div class="inputEIcono">
                    <iconify-icon icon="mdi:password-outline" width="28" height="28"  style="color: #655f5f"></iconify-icon>
                    <input type="password" name="password" id="password" placeholder="Contraseña"  class="datoIngreso" />
                </div>

                <p class="advertenciaRoja" th:if="${passwordError}" th:text="${passwordError}"> Revise su contraseña</p>

                <div class="recordarUsuarioContainer">
                    <input type="checkbox" id="recordarUsuario">
                    <label for="recordarUsuario">Recordarme</label>
                </div>

                <input type="submit" value="Iniciar Sesión" id="inputSubmit">

                <div id="perdioContraseñaContainer">

                    <p><a href="recuperarContrasena">Olvidé mi contraseña</a></p>
                    <p>¿No tienes cuenta?<a href="registro">Registrate aquí</a></p>
                </div>
            </form>
        </div>


    </div>

<th:block th:replace="common :: footer"></th:block>

</body>
</html>