<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>

<th:block th:replace="common :: header"></th:block>

    <div id="loginContainer">

            <img th:src="@{/img/logo_ACS.png}" id="userIcon">

        <form  th:action="@{/login}" method="POST">


            <input type="text" name="username" id="username" placeholder="Ingresá tu DNI" class="datoIngreso" />
            <br>

            <input type="password" name="password" id="password" placeholder="Contraseña"  class="datoIngreso" />
            <br>
            <input type="submit" value="INGRESAR" id="inputSubmit">

            <div id="perdioContraseñaContainer">
                <div class="recordarUsuarioContainer">
                    <input type="checkbox" id="recordarUsuario">
                    <label for="recordarUsuario">Recordar</label>
                </div>

                <a>Olvidé mi contraseña</a>
            </div>
        </form>

    </div>

<th:block th:replace="common :: footer"></th:block>

</body>
</html>