<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acreditacion de Saberes</title>
    <link rel="stylesheet" th:href="@{/css/modal.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="modalContainerCentros" th:fragment="modalAgregarCentro">
        <div class="modal" id="modalCentros">

            <h3 onclick="ocultarModalAgregar()"><i class="bi bi-x-square"></i></h3>

            <h2>Alta de Centros</h2>

            <div class="divisorInternoDelModal">
                <label for="nombreCentro">Nombre<input type="text" id="nombreCentro"></label>
                <label for="direccionCentro">Dirección<input type="text" id="direccionCentro"></label>
            </div>

            <div class="divisorInternoDelModal">
                <label for="telefonoCentro">Teléfono<input type="text" id="telefonoCentro"></label>
                <label for="numeroDeCentro">Número de Centro<input type="text" id="numeroDeCentro"></label>
            </div>

            <div class="divisorInternoDelModal">
                <label for="codigoCentro">Código de Centro<input type="text" id="codigoCentro"></label>
                <label for="cueCentro">CUE<input type="text" id="cueCentro"></label>
            </div>

            <div class="divisorInternoDelModal">
                <label for="tipoCentro">Tipo<input type="text" id="tipoCentro"></label>
             <label for="areaCentro">Area<input type="text" id="areaCentro"></label>
            </div>

            <div class="divisorInternoDelModal">
                <label for="estadoCentro">Estado<input type="text" id="estadoCentro"></label>
                <button class="botonAcreditacion" onclick="crearCentro()">GUARDAR</button>
            </div>
        </div>
    </div>
    <div class="modalContainerCentros" th:fragment="modalAgregarTrayecto(${centros}, ${sectores})">
        <div class="modal" id="modalTrayecto">

            <h3 onclick="ocultarModalAgregar()"><i class="bi bi-x-square"></i></h3>

            <h2>Alta de Trayecto</h2>

            <div class="divisorInternoDelModal">
                <label for="nombreTrayecto">Nombre<input type="text" id="nombreTrayecto"></label>
                <label for="sectorTrayecto">Sector<select  id="sectorTrayecto">
                    <option th:each="sector : ${sectores}" th:text="${sector.nombre}" th:value="${sector.id}">GASTRONOMIA</option>
                </select></label>
            </div>

            <div class="divisorInternoDelModal">
                <label for="condicionesTrayecto" class="labelTextArea">Condiciones<textarea type="text" id="condicionesTrayecto"> </textarea></label>
            </div>

            <div class="divisorInternoDelModal">
                <label for="estadoTrayecto">Estado<select id="estadoTrayecto">
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                </select></label>

            </div>

            <div class="divisorInternoDelModal">
                <label for="centrosDelTrayecto" style="width: 100%">Centros Asignados<fieldset id="centrosDelTrayecto">
                    <span th:each="centro: ${centros}">
                    <input type="checkbox"  th:value="${centro.id}"  th:id="${centro.id}" name="inputCentros">
                    <label th:for="${centro.id}" th:text="${centro.nombre}"></label>
                        </span>
                </fieldset></label>
            </div>

            <div class="divisorInternoDelModal">
            <button class="botonAcreditacion" onclick="crearTrayecto()">GUARDAR</button>
            </div>
        </div>
    </div>

    <div class="modalContainerCentros" th:fragment="modalAgregarSector">
        <div class="modal" id="modalSectores">

            <h3 onclick="ocultarModalAgregar()"><i class="bi bi-x-square"></i></h3>

            <h2>Alta de Sector</h2>

            <div class="divisorInternoDelModal">
                <label for="nombreSector">Nombre<input type="text" id="nombreSector"></label>
                <label for="descripcionSector" class="labelTextArea">Descripción<input type="text" id="descripcionSector"></label>
            </div>


            <div class="divisorInternoDelModal">
                <label for="estadoSector">Estado<select id="estadoSector">
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                </select></label>

                <button class="botonAcreditacion" onclick="crearSector()">GUARDAR</button>

            </div>

        </div>
    </div>

    <div class="modalContainerCentros" th:fragment="modalAgregarModulos(${trayectos})">
        <div class="modal" id="modalModulos">

            <h3 onclick="ocultarModalAgregar()"><i class="bi bi-x-square"></i></h3>

            <h2>Alta de Modulo</h2>

            <div class="divisorInternoDelModal">
                <label for="nombreModulo">Nombre<input type="text" id="nombreModulo"></label>
                <label for="descripcionModulo" class="labelTextArea">Descripción<input type="text" id="descripcionModulo"></label>
            </div>


            <div class="divisorInternoDelModal">
                <label for="estadoModulo">Estado<select id="estadoModulo">
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                </select></label>

                <label for="trayectoModulo">Trayecto<select id="trayectoModulo">
                    <option th:each="trayecto : ${trayectos}" th:text="${trayecto.nombre}" th:value="${trayecto.id}">ACTIVO</option>

                </select></label>



            </div>

            <div class="divisorInternoDelModal">
                <button class="botonAcreditacion" onclick="crearModulo()">GUARDAR</button>
            </div>

        </div>
    </div>


<script th:src="@{/javaScript/modalCentros.js}"></script>

</body>
</html>