<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tablas</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/tablas.css}">
</head>
<body>

        <div th:fragment="tablaQueCargo (${tabla} ,${usuarios}, ${postulantes}, ${entrevistadores}, ${evaluadores}, ${orientadores}, ${centros}, ${trayectos}, ${sectores}, ${modulos}, ${inscripciones})"
                class="contenedorBodyTabla">


            <div th:if="${tabla == 'Postulantes'}">

                <h1 class="tituloTabla">Gestión Postulantes</h1>

                <div class="backgroundTabla">
                    <table id="tablaGestionDePostulantes" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Fecha <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Sector <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Trayecto <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Postulante <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Estado <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody >
                        <tr th:each="postulante : ${postulantes}">
                            <td th:text="${postulante.id}">125</td>
                            <td th:text="${postulante.fechaDeAlta}">16/11/2023</td>
                            <td th:text="${postulante.sector}">Gastronomia</td>
                            <td th:text="${postulante.trayecto}">Panadero</td>
                            <td th:text="${postulante.nombre}">postulante1</td>
                            <td th:text="${postulante.estado}">NO QUIERE CONTINUAR EN LA EVALUACIÓN</td>
                            <td><i class="bi bi-pencil-square iconoAcciones"></i>
                                <i class="bi bi-trash iconoAcciones"></i>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>


            </div>


            <div th:if="${tabla == 'Entrevistas'}">

                <h1 class="tituloTabla">Gestión de Entrevistas</h1>

                <div class="backgroundTabla">
                    <h4 class="tituloDentroDeTabla">Postulantes sin turno</h4>
                    <table id="tablaGestionDeEntrevistas" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Centro <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Entrevistador<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Postulante<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Trayecto<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Estado <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Turno</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="inscripcion : ${inscripciones}" th:if="${inscripcion.estado != 'Con Turno Entrevista'}">
                            <td th:text="${inscripcion.id}">id/td>
                            <td >centro</td>
                            <td >Entrevistador</td>
                            <td th:text="${inscripcion.postulante.nombre}">postulante</td>
                            <td th:text="${inscripcion.trayecto.nombre}">trayecto</td>
                            <td th:text="${inscripcion.estado}">estado</td>
                            <td><i class="bi bi-calendar-plus" th:id="${inscripcion.id}" th:data="${inscripcion}" onclick="mostrarModalParaAgregarTurnoAPostulante(this.id)"></i></td>
                        </tr>

                        </tbody>
                    </table>

                </div>

                <div class="backgroundTabla">
                    <h4 class="tituloDentroDeTabla">Postulantes con turno</h4>
                    <table id="tablaPostulantesConEntrevista" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Centro <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Entrevistador<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Postulante<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Trayecto<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Estado <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Turno</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="inscripcion : ${inscripciones}" th:if="${inscripcion.estado == 'Con Turno Entrevista'}">
                            <td th:text="${inscripcion.id}">id/td>
                            <td >centro</td>
                            <td >Entrevistador</td>
                            <td th:text="${inscripcion.postulante.nombre}">postulante</td>
                            <td th:text="${inscripcion.trayecto.nombre}">trayecto</td>
                            <td th:text="${inscripcion.estado}">estado</td>
                            <td><i class="bi bi-calendar-plus"></i></td>
                        </tr>

                        </tbody>
                    </table>

                </div>




            </div>

            <div th:if="${tabla == 'Acreditacion'}">

                <h1 class="tituloTabla">Gestión de Acreditacion</h1>

                <div class="backgroundTabla">
                    <table id="tablaGestionDeAcreditacion" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Centro <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Evaluador <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Aspirante <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Trayecto <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Estado <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Turno<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>125	</td>
                            <td>C.F.P. N° 02 (Barracas)</td>
                            <td>Castro Lucas E</td>
                            <td>postulante1</td>
                            <td>Cocinero</td>
                            <td>CON TURNO EVALUACIÓN</td>
                            <td>05/12/2023 11:53</td>
                            <td><i class="bi bi-calendar-event"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>125	</td>
                            <td>C.F.P. N° 02 (Barracas)</td>
                            <td>Castro Lucas E</td>
                            <td>postulante1</td>
                            <td>Cocinero</td>
                            <td>CON TURNO EVALUACIÓN</td>
                            <td>05/12/2023 11:53</td>
                            <td><i class="bi bi-calendar-event"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>125	</td>
                            <td>C.F.P. N° 02 (Barracas)</td>
                            <td>Castro Lucas E</td>
                            <td>postulante1</td>
                            <td>Cocinero</td>
                            <td>CON TURNO EVALUACIÓN</td>
                            <td>05/12/2023 11:53</td>
                            <td><i class="bi bi-calendar-event"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>




            </div>


            <div th:if="${tabla == 'Centros'}">

                <h1 class="tituloTabla">Gestión de Centros</h1>

                <div class="backgroundTabla">
                   <h2 onclick="mostrarAgregarModal('Centros')"> <i class="bi bi-plus-square "></i></h2>
                    <table id="tablaGestionDeCentros" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Nombre <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Direccion <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Teléfono <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each=" centro : ${centros}">
                            <td th:text="${centro.id}">125	</td>
                            <td th:text="${centro.nombre}">C.F.P. N° 02 (Barracas)</td>
                            <td th:text="${centro.direccion}">Brandsen 2570</td>
                            <td th:text="${centro.telefono}">4301-3655/ 4304-7061</td>
                            <td><i class="bi bi-pencil-square iconoAcciones" th:id="${centro.id}" onclick="mostrarModalParaEditar(this,'Centros')"></i>
                                <i class="bi bi-trash iconoAcciones" th:id="${centro.id}" th:data="${tabla}" onclick="mostrarAdvertencia(this)"></i>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>




            </div>

            <div th:if="${tabla == 'Trayectos'}">

                <h1 class="tituloTabla">Gestión de Trayectos</h1>

                <div class="backgroundTabla">
                    <h2 onclick="mostrarAgregarModal('Trayectos')"> <i class="bi bi-plus-square "></i></h2>

                    <table id="tablaGestionDeTrayectos" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Sector <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Nombre <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Condiciones <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="trayecto : ${trayectos}" >
                            <td th:text="${trayecto.id}">125	</td>
                            <td th:text="${trayecto.sector.nombre}">C.F.P. N° 02 (Barracas)</td>
                            <td th:text="${trayecto.nombre}">Brandsen 2570</td>
                            <td th:text="${trayecto.condiciones}">4301-3655/ 4304-7061</td>
                            <td><i class="bi bi-pencil-square iconoAcciones" th:id="${trayecto.id}" onclick="mostrarModalParaEditar(this,'Trayectos')"></i>
                                <i class="bi bi-trash iconoAcciones" th:id="${trayecto.id}" th:data="${tabla}" onclick="mostrarAdvertencia(this)" ></i>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>




            </div>

            <div th:if="${tabla == 'Sectores'}">

                <h1 class="tituloTabla">Gestión de Sectores</h1>

                <div class="backgroundTabla">
                    <h2 onclick="mostrarAgregarModal('Sectores')"> <i class="bi bi-plus-square "></i></h2>
                    <table id="tablaGestionDeSectores" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Nombre <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Descripción <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Estado <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each=" sector : ${sectores}">
                            <td th:text="${sector.id}">125	</td>
                            <td th:text="${sector.nombre}">C.F.P. N° 02 (Barracas)</td>
                            <td th:text="${sector.descripcion}">Brandsen 2570</td>
                            <td th:text="${sector.estado}">4301-3655/ 4304-7061</td>
                            <td><i class="bi bi-pencil-square iconoAcciones"></i>
                                <i class="bi bi-trash iconoAcciones" th:id="${sector.id}" th:data="${tabla}" onclick="mostrarAdvertencia(this)"></i>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>




            </div>

            <div th:if="${tabla == 'Modulos'}">

                <h1 class="tituloTabla">Gestión de Modulos</h1>

                <div class="backgroundTabla">
                    <h2 onclick="mostrarAgregarModal('Modulos')"> <i class="bi bi-plus-square "></i></h2>
                    <table id="tablaGestionDeModulos" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Trayecto <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Modulo <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Descripción <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="modulo : ${modulos}">
                            <td th:text="${modulo.id}">125	</td>
                            <td th:text="${modulo.trayecto.nombre}">C.F.P. N° 02 (Barracas)</td>
                            <td th:text="${modulo.modulo}">Brandsen 2570</td>
                            <td th:text="${modulo.descripcion}">4301-3655/ 4304-7061</td>
                            <td><i class="bi bi-list-check"></i>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>




            </div>

            <div th:if="${tabla == 'Usuarios'}">

                <h1 class="tituloTabla">Gestión de Usuarios</h1>

                <div class="backgroundTabla">

                    <a th:href="@{/user}"><h2 > <i class="bi bi-plus-square "></i></h2></a>

                    <table id="tablaGestionDeUsuarios">
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Nombre <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Email <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Tipo <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each=" users :${usuarios}">
                            <td th:text="${users.id}" >125	</td>
                            <td th:text="${users.nombre}">C.F.P. N° 02 (Barracas)</td>
                            <td th:text="${users.mail}">Brandsen 2570</td>
                            <td th:switch="${users.rol}" >
                                <span th:case="'ROLE_ADMIN'">Administrador</span>
                                <span th:case="'ROLE_POSTULANTE'">Postulante</span>
                                <span th:case="'ROLE_USER'">Usuario</span>
                                <span th:case="'ROLE_ORIENTADOR'">Orientador</span>
                                <span th:case="'ROLE_ENTREVISTADOR'">Entrevistador</span>
                                <span th:case="'ROLE_EVALUADOR'">Evaluador</span>
                                <span th:case="'ROLE_REFERENTE'">Referente</span>
                            </td>
                            <td><i class="bi bi-pencil-square iconoAcciones" th:id="${users.id}" onclick="mostrarModalParaEditar(this,'Usuarios')"></i>
                                <i class="bi bi-trash iconoAcciones" th:id="${users.id}" th:data="${tabla}" onclick="mostrarAdvertencia(this)"></i>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>




            </div>


            <div th:if="${tabla == 'Orientadores'}">

                <h1 class="tituloTabla">Gestión de Orientadores</h1>

                <div class="dobleTabla">

                <div class="backgroundTabla">
                    <table id="tablaGestionDeOrientadores" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Nombre <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Email <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr  th:each="orientador: ${orientadores}">
                            <td th:text="${orientador.id}">125	</td>
                            <td th:text="${orientador.nombre}">C.F.P. N° 02 (Barracas)</td>
                            <td th:text="${orientador.mail}">Brandsen 2570</td>
                            <td  ><i class="bi bi-plus-circle" th:id="${orientador.id}" onclick="mostrarModalParaAgregarCentrosAUsuario('Orientador', this)"></i>
                                <i class="bi bi-list-check" th:id="${orientador.id}" onclick="buscarCentrosOSectorDeUsuario(this.id, 'Orientadores' )"></i>
                            </td>
                        </tr>

                        </tbody>
                    </table>


                </div>

                <div class="backgroundTabla">

                    <table id="tablaGestionDeOrientadoresACentros" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Centro <i class="bi bi-arrow-down-up"></i></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr  th:each="centro: ${centros}">
                            <td th:text="${centro.id}">125	</td>
                            <td th:text="${centro.nombre}">C.F.P. N° 02 (Barracas)</td>
                        </tr>

                        </tbody>
                    </table>


                </div>

                </div>



            </div>


            <div th:if="${tabla == 'Entrevistadores'}">

                <h1 class="tituloTabla">Gestión de Entrevistadores</h1>

                <div class="dobleTabla">

                    <div class="backgroundTabla">

                        <table id="tablaGestionDeEntrevistadores" >
                            <thead class="headerTabla">
                            <tr>
                                <th class="itemTitulo">#</th>
                                <th class="itemTitulo">Nombre <i class="bi bi-arrow-down-up"></i></th>
                                <th class="itemTitulo">Email <i class="bi bi-arrow-down-up"></i></th>
                                <th class="itemTitulo"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="entrevistador : ${entrevistadores}">
                                <td th:text="${entrevistador.id}">125	</td>
                                <td th:text="${entrevistador.nombre}">C.F.P. N° 02 (Barracas)</td>
                                <td th:text="${entrevistador.mail}">Brandsen 2570</td>
                                <td><i class="bi bi-plus-circle" th:id="${entrevistador.id}" onclick="mostrarModalParaAgregarCentrosAUsuario('Entrevistador', this)"></i>
                                    <i class="bi bi-list-check" th:id="${entrevistador.id}" onclick="buscarCentrosOSectorDeUsuario(this.id, 'Entrevistadores' )"></i>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="backgroundTabla">

                        <table id="tablaGestionDeEntrevistadoresACentros" >
                            <thead class="headerTabla">
                            <tr>
                                <th class="itemTitulo">#</th>
                                <th class="itemTitulo">Centro <i class="bi bi-arrow-down-up"></i></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr  th:each="centro: ${centros}">
                                <td th:text="${centro.id}">125	</td>
                                <td th:text="${centro.nombre}">C.F.P. N° 02 (Barracas)</td>
                            </tr>

                            </tbody>
                        </table>


                    </div>

                </div>




            </div>


            <div th:if="${tabla == 'Evaluadores'}">

                <h1 class="tituloTabla">Gestión de Evaluadores</h1>

                <div class="dobleTabla">

                    <div class="backgroundTabla">

                        <table id="tablaGestionDeEvaluadores" >
                            <thead class="headerTabla">
                            <tr>
                                <th class="itemTitulo">#</th>
                                <th class="itemTitulo">Nombre <i class="bi bi-arrow-down-up"></i></th>
                                <th class="itemTitulo">Email <i class="bi bi-arrow-down-up"></i></th>
                                <th class="itemTitulo"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="evaluador : ${evaluadores}">
                                <td th:text="${evaluador.id}">125	</td>
                                <td th:text="${evaluador.nombre}">C.F.P. N° 02 (Barracas)</td>
                                <td th:text="${evaluador.mail}">Brandsen 2570</td>
                                <td><i class="bi bi-plus-circle" th:id="${evaluador.id}" onclick="mostrarModalParaAgregarCentrosAUsuario('Evaluador', this)"></i>
                                    <i class="bi bi-list-check" th:id="${evaluador.id}" onclick="buscarCentrosOSectorDeUsuario(this.id, 'Evaluadores' )"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-- FALTA HACER QUE SEA IGUAL LOS SECTORES A LOS SECTORES DEL USUARIO -->

                    <div class="backgroundTabla">

                        <table id="tablaGestionDeEvaluadoresACentros" >
                            <thead class="headerTabla">
                            <tr>
                                <th class="itemTitulo">#</th>
                                <th class="itemTitulo">Centro <i class="bi bi-arrow-down-up"></i></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr  th:each="centro: ${centros}">
                                <td th:text="${centro.id}">125	</td>
                                <td th:text="${centro.nombre}">C.F.P. N° 02 (Barracas)</td>
                            </tr>

                            </tbody>
                        </table>


                    </div>

                </div>




            </div>

            <div th:if="${tabla == 'Probador de Modulos'}">

                <h1 class="tituloTabla">Probador de Modulos</h1>

                <div class="backgroundTabla">

                    <table id="tablaProbadorDeModulos" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Trayecto <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Modulo <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Descripción <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>125	</td>
                            <td>C.F.P. N° 02 (Barracas)</td>
                            <td>Brandsen 2570</td>
                            <td>4301-3655/ 4304-7061</td>
                            <td><i class="bi bi-arrow-right-square"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>125	</td>
                            <td>C.F.P. N° 02 (Barracas)</td>
                            <td>Brandsen 2570</td>
                            <td>4301-3655/ 4304-7061</td>
                            <td><i class="bi bi-arrow-right-square"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>125	</td>
                            <td>C.F.P. N° 02 (Barracas)</td>
                            <td>Brandsen 2570</td>
                            <td>4301-3655/ 4304-7061</td>
                            <td><i class="bi bi-arrow-right-square"></i>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>




            </div>

            <div th:if="${tabla == 'Usuarios Postulantes'}">

                <h1 class="tituloTabla">Gestión de Usuarios Postulantes</h1>

                <div class="backgroundTabla">
                    <table id="tablaGestionUsuariosPostulantes" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Nombre <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Teléfono <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Email <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Fecha Alta <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Activo<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="postulante :${postulantes}">
                            <td th:text="${postulante.id}">125	</td>
                            <td th:text="${postulante.nombre}">C.F.P. N° 02 (Barracas)</td>
                            <td th:text="${postulante.telefono}">Brandsen 2570</td>
                            <td th:text="${postulante.mail}">4301-3655/ 4304-7061</td>
                            <td th:text="${postulante.fechaDeAlta}">ursula.portillo@bue.edu.ar</td>
                            <td th:text="${postulante.estado}">10/11/2023</td>
                            <td><i class="bi bi-pencil-square iconoAcciones"></i>
                                <i class="bi bi-trash iconoAcciones"></i>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>




            </div>

            <div th:if="${tabla == 'Mis Datos'}">

                <h1 class="tituloTabla">Mis Datos</h1>

                <div class="backgroundTabla">

                    <input id="postulanteId" th:value="${postulantes.id}" hidden>
                    <input id="postulanteRol" th:value="${postulantes.rol}" hidden>
                    <input id="postulantePassword" th:value="${postulantes.password}" hidden>
                    <input id="emailPostulante" th:value="${postulantes.mail}" hidden>
                    <input id="postulanteUsername" th:value="${postulantes.username}" hidden>
                    <input id="postulanteEstado" th:value="${postulantes.estado}" hidden>

                    <div class="formularioDatosPostulante">
                        <div class="divisorAlMedio">
                            <div class="contenedorLabelInput">
                                <label for="nombrePostulante">NOMBRE Y APELLIDO</label><input th:value="${postulantes.nombre}" id="nombrePostulante">
                            </div>

                            <div class="contenedorLabelInput">
                                <label for="dniPostulante">DNI</label><input th:value="${postulantes.DNI}" id="dniPostulante">
                            </div>
                            <div class="contenedorLabelInput">
                                <label for="generoPostulante">GENERO</label><input th:value="${postulantes.genero}" id="generoPostulante">
                            </div>

                            <div class="contenedorLabelInput">
                                <label for="telefonoPostulante">TELEFONO</label><input th:value="${postulantes.telefono}" id="telefonoPostulante">
                            </div>

                            <div class="contenedorLabelInput">
                                <label for="celularPostulante">CELULAR</label><input th:value="${postulantes.celular}" id="celularPostulante">
                            </div>

                            <div class="contenedorLabelInput">
                                <label for="cuilPostulante">CUIL-CUIT</label><input th:value="${postulantes.cuil}" id="cuilPostulante">
                            </div>
                        </div>

                      <div class="divisorAlMedio">
                          <div class="contenedorLabelInput">
                              <label for="nacionalidadDelPostulante">NACIONALIDAD</label><input th:value="${postulantes.nacionalidad}" id="nacionalidadDelPostulante">
                          </div>

                          <div class="contenedorLabelInput">
                              <label for="provinciaPostulante">PROVINCIA</label><input th:value="${postulantes.provincia}" id="provinciaPostulante">
                          </div>
                          <div class="contenedorLabelInput">
                              <label for="localidadPostulante">LOCALIDAD</label><input th:value="${postulantes.localidad}" id="localidadPostulante">
                          </div>

                          <div class="contenedorLabelInput">
                              <label for="callePostulante">CALLE</label><input th:value="${postulantes.calle}" id="callePostulante">
                          </div>

                          <div class="contenedorLabelInput">
                              <label for="numeroDeCallePostulante">NUMERACION</label><input th:value="${postulantes.numeroDeCalle}" id="numeroDeCallePostulante">
                          </div>

                          <div class="contenedorLabelInput">
                              <label for="pisoPostulante">PISO</label><input th:value="${postulantes.piso}" id="pisoPostulante">
                          </div>
                      </div>




                    </div>

                    <button onclick="editarDatosPostulante()">GUARDAR</button>

                </div>




            </div>

            <div th:if="${tabla == 'Mis Trayectos'}">

                <h1 class="tituloTabla">Mis Inscripciones</h1>

                <div class="backgroundTabla">
                    <table id="tablasMisTrayectos" >
                        <thead class="headerTabla">
                        <tr>
                            <th class="itemTitulo">#</th>
                            <th class="itemTitulo">Sector <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Oficio <i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Informacion del Centro<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Nota<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Nota maxima de evaluacion<i class="bi bi-arrow-down-up"></i></th>
                            <th class="itemTitulo">Estado<i class="bi bi-arrow-down-up"></i></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each=" inscripcion : ${inscripciones}">
                            <td th:text="${inscripcion.id}">125	</td>
                            <td th:text="${inscripcion.trayecto.sector.nombre}">C.F.P. N° 02 (Barracas)</td>
                            <td th:text="${inscripcion.trayecto.nombre}">Brandsen 2570</td>
                            <td>-</td>
                            <td th:text="${inscripcion.nota}">-</td>
                            <td th:text="${inscripcion.notaMaximaDelExamen}">-</td>
                            <td th:text="${inscripcion.estado}">-</td>
                        </tr>

                        </tbody>
                    </table>

                </div>


            </div>

            </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

</body>
</html>